.heading-1 {
    color:darkblue;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
}
.container {
    border-style: groove;
    border: 10px solid yellow;
    margin-top: 5px;
}
.heading-2 {
    color:yellow;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
}
.heading-3 {
    color:red;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;