<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12</title>
    <h1>Ajax & Axios</h1>
</head>

<body>
    <div id="app">
        <form class="form" @submit.prevent="submitForm()">
            <div v-if="errors.length">
                <b>Harap Cek Kembali</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>

            <div class="mx-auto" style="width: 500px;">
                <div class="mb-3">
                    <label for="formNama" class="form-label">Nama</label>
                    <input type="text" name="name" ref="name" :disabled="buttonStatus == 'upload'" v-model="name"
                        class="form-control" id="formNama">
                </div>
                <div class="mb-3">
                    <label for="formAlamat" class="form-label">Alamat</label>
                    <input name="address" ref="address" :disabled="buttonStatus == 'upload'" v-model="address"
                        class="form-control" id="formAlamat">
                </div>
                <div class="mb-3">
                    <label for="formNama" class="form-label">Phone</label>
                    <input type="number" name="no_hp" ref="noHp" :disabled="buttonStatus == 'upload'" v-model="noHp"
                        class="form-control" id="formNama">
                </div>

                <div v-if="buttonStatus == 'submit'">
                    <input class="btn btn-success mb-3" type="submit" value="Submit">
                </div>
                <div v-else-if="buttonStatus == 'update'">
                    <input class="btn btn-success mb-3" type="button" @click="updateMember(idEdit)" value="Update">
                    <input class="btn btn-secondary mb-3" type="button" @click="cancelForm()" value="Cancel">
                </div>
                <div v-else-if="buttonStatus == 'upload'">
                    <input type="file" name="photo" ref="photo">
                    <input class="btn btn-success mb-3" type="button" @click="submitPhoto(idUpload)" value="Upload">
                    <input class="btn btn-secondary mb-3" type="button" @click="cancelForm()" value="Cancel">
                </div>
            </div>
        </form>

        <table>
            <tr>
                <th>Nama</th>
                <th>Alamat</th>
                <th>No Hp</th>
                <th>Foto</th>
                <th>Aksi</th>
            </tr>
            <tr v-for="member of members">

                <td>{{ member.name }}</td>
                <td>{{ member.address}}</td>
                <td>{{ member.no_hp}}</td>
                <td>
                    <img width="100"
                        :src="member.photo_profile ? photoUrl + member.photo_profile : 'https://dummyimage.com/16:9x1080'">
                </td>
                <td>
                    <button @click="editMember(member)" class="btn btn-warning mb-3">Edit</button>
                    <button @click="deleteMember(member.id)" class="btn btn-danger mb-3">Hapus</button>
                    <button @click="uploadPhoto(member)" class="btn btn-primary mb-3">Upload</button>
                </td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                name: "",
                address: "",
                noHp: "",
                errors: [],
                members: [],
                photoUrl: "http://demo-api-vue.sanbercloud.com",
                buttonStatus: "submit",
                idEdit: null,
                idUpload: null
            },
            methods: {
                validationForm: function () {
                    this.errors = []
                    if (this.name.length < 1) {
                        this.errors.push("Nama tidak boleh kosong")
                        this.$refs.name.focus()
                    }
                    if (this.address.length < 1) {
                        this.errors.push("Alamat tidak boleh kosong")
                        this.$refs.address.focus()
                    }
                    if (this.noHp.length < 1) {
                        this.errors.push("No HP tidak boleh kosong")
                        this.$refs.noHp.focus()
                    }
                },
                clearForm: function () {
                    this.name = ""
                    this.address = ""
                    this.noHp = ""
                },
                submitForm: function () {
                    this.validationForm()
                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.noHp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },
                getMember: function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },
                deleteMember: function (id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }
                    axios(config)
                        .then((response) => {
                            this.getMember()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },
                editMember: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.noHp = member.no_hp
                    this.buttonStatus = "update"
                    this.idEdit = member.id
                },
                cancelForm: function () {
                    this.name = ""
                    this.address = ""
                    this.noHp = ""
                    this.buttonStatus = "submit"
                    this.idEdit = null
                    this.idUpload = null
                },
                updateMember: function (id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.noHp)

                        let config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {
                                _method: "PUT"
                            },
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },
                uploadPhoto: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.noHp = member.no_hp
                    this.buttonStatus = "upload"
                    this.idUpload = member.id
                },
                submitPhoto: function (id) {
                    let file = this.$refs.photo.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }
                    axios(config)
                        .then((response) => {
                            this.cancelForm()
                            this.getMember()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },
            created() {
                this.getMember()
            }
        })
    </script>
</body>

</html>