<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
    <h1>Quiz 2 JCC</h1>
</head>

<body>
    <div id="app">
        <input type="text" v-model:value="inputValue">
        <button v-if="!isEdit" @click="addData(inputValue)">Add</button>
        <button v-if="isEdit" @click="editData(inputValue, editIndex)">Update</button>
        <ul>
            <li v-for="(user, index) in users" style="margin: 15px 0">
                {{ user }}
                <button @click="openEdit(user, index)">Edit</button>
                <button @click="deleteData(index)">Delete</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                inputValue: '',
                users: ['Muhammad Iqbal Mubarok', 'Ruby Purwanti', 'Faqih Muhammad',],
                isEdit: false,
                editIndex: null
            },
            computed: {},
            methods: {
                addData: function (data) {
                    this.users.push(data)
                },
                editData: function (data, index) {
                    this.inputValue = '';
                    this.users[index] = data;
                    this.isEdit = false;
                },
                openEdit: function (data, index) {
                    this.inputValue = data;
                    this.editIndex = index;
                    this.isEdit = true;
                },
                deleteData: function (index) {
                    if (confirm('Anda Yakin ?') == true) {
                        this.users.splice(index, 1);
                    }
                }
            }
        })
    </script>
</body>

</html>